.user p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 26px;
  line-height: 26px;
  width: 200px;
  padding: 0 20px;
}

.user a {
    transition: transform 0.3s linear;
}

.user p img {
  height: 50px;
}

.user a:hover {
  transform: scale(1.2);
  color: brown;
  cursor: pointer;
  border: 2px solid brown;
  border-radius: 10px;
}