
.user p {
          font-size: 26px;
          transition: transform 0.6s linear;
          line-height: 26px;
}

.user p:hover {
          transform: scale(1.2);
          color: brown;
          cursor: pointer;
          border: 2px solid brown;
          border-radius: 10px;
}