.error {
	display: flex;
	flex-direction: column-reverse;
}

.error textarea:focus {
	border: dashed red;
}

.error span {
	font-size: 16px;
	color: red;
	padding: 5px;
	background: white;
	border: 1px dashed red;
	border-radius: 5px;
	width: 100%;
	text-align: center;
}