.post {
          display: flex;
          justify-content: start;
          width: 100%;
          gap: 20px;
          align-items: start;
          position: relative;
          border: 1px solid rgb(29, 20, 20);
          padding: 10px;
          width: 100%;
}

.post img {
          height: 80px;
}

p {
          font-size: 20px;
          line-height: 20px;
          margin: 0;
}

span {
          position: absolute;
          right: 100px;
          bottom: 0;
          font-weight: bold;
}
