

.app-wraper {
          display: grid;
          grid-template-areas:
          "h h"
          "n c";
          grid-template-rows: 60px 1fr;
          grid-template-columns: 2fr 10fr;
          gap: 10px;
          font-size: 20px;
          padding: 15px;
          min-height: 100vh;
}

.header {
          grid-area: h;
}

.nav {
          grid-area: n;
}

.content {
          grid-area: c;
}